@media all {
  body {
    background: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
  }
  
  .fa {
    /* padding: 10px 5px; */
    /* font-size: 30px; */
    padding: 15px 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid white;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook, .fa-twitter, .fa-instagram {
    color: white;
  }
}

/* desktop */
@media (min-width: 376px) {
  header {
    padding: 4rem;
    padding-bottom: 3rem;
  }
  main {
    
    display: flex;
  }
  h1 {
    font-size: 40px;
    width: 80%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: -0.1rem;
  }
  p {
    width: 80%;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
  }
  footer {
    text-align: right;
    margin-right: 3rem;
  }
  .img-mockup {
    margin: 0 4rem;
  }
}

/* mobile */
@media (max-width: 375px) {

}